<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<id>ossrh</id>
			<username>ArunS</username>
			<password>Kurinjiandava3!</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>ossrh</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<gpg.executable>gpg2</gpg.executable>
				<gpg.passphrase>82C0E1054593C08156EE456630B0FC6F89ACA10A</gpg.passphrase>
			</properties>
		</profile>
	</profiles>

</settings>